services:
  db:
    cpus: 1.0
    mem_limit: "1G"
    container_name: fractal-db
    image: postgres:16.11-alpine
    restart: always
    command: -p 5433
    environment:
      POSTGRES_USER: fractal
      POSTGRES_PASSWORD: fractal
      POSTGRES_DB: fractal
      # required for the check below - otherwise postgresql
      # will use undefined 'root' user and raise errors
      PGUSER: fractal
    healthcheck:
      # postgresql starts up, stops, and then restarts
      # => errors if the server connects before the stop
      # this checks if the system is ready
      test: pg_isready -p 5433
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_db:/var/lib/postgresql/data
    network_mode: "host"

  slurm:
    hostname: slurm
    container_name: slurm
    cpus: 3.0
    mem_limit: 5g
    build:
      context: ./server-and-slurm
      dockerfile: Dockerfile
      args:
        - FRACTAL_SERVER_VERSION=2.19.1
        - SLURM_CPUS=3
        - SLURM_MEMORY=3000
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - data:/data
    environment:
      - SLURM_CPUS_ON_NODE=1
    healthcheck:
      test: wget http://localhost:8000/api/alive/ > /dev/null 2>&1
      interval: 5s
      timeout: 2s
      retries: 5
    network_mode: "host"

  web:
    container_name: fractal-web
    build:
      context: ./web
      dockerfile: Dockerfile
      args:
        - FRACTAL_WEB_VERSION=1.23.0
    depends_on:
      slurm:
        condition: service_healthy
    network_mode: "host"

  server-config:
    container_name: server-config
    build:
      context: ./server-config
      args:
        - FRACTAL_CLIENT_VERSION=2.18.2
    depends_on:
      slurm:
        condition: service_healthy
    volumes:
      - data:/data
    network_mode: "host"

  fractal-filebrowser:
    container_name: fractal-filebrowser
    build:
      context: ./filebrowser
    ports:
      - 8080:80
    volumes:
      - data:/data

  fractal-data:
    container_name: fractal-data
    image: ghcr.io/fractal-analytics-platform/fractal-data:stable
    environment:
      - FRACTAL_SERVER_URL=http://localhost:8000
      - AUTHORIZATION_SCHEME=fractal-server
    network_mode: "host"
    volumes:
      - data:/data:ro

  fractal-feature-explorer:
    container_name: fractal-feature-explorer
    build:
      context: ./dashboard
      args:
        - FRACTAL_FEATURE_EXPLORER_VERSION=0.1.14
    depends_on:
      slurm:
        condition: service_healthy
    network_mode: "host"
    healthcheck:
      test: wget http://localhost:8501/_stcore/health > /dev/null 2>&1
      interval: 5s
      timeout: 2s
      retries: 5

volumes:
  data:
  postgres_db:
